# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/xcuserdata/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved
RembgMac.zip
build/
